.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 5px 0;
    width: 100%;
    border: none;
    border-radius: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    outline: none;
}

.popup__text:first-child {
    margin-top: 0;
}

@media (max-width:550px) {
    .popup__text:last-of-type {
        /* margin-bottom: 45px; */
    }
}