.profile__edit-button {
    display: flex;
    background-repeat: no-repeat;
    background-image: url(../../../images/edit-button/Vector.svg);
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin: 37px auto 59px 18px;
    width: 24px;
    height: 24px;
}

.profile__edit-button:hover {
    background-image: url(../../../images/edit-button/Edit-Button-dark.svg);
}

@media (max-width:910px) {
    .profile__edit-button {
    background-size: 100%;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 36px 0 0 10px;
    } 
    
    }