.popup__save_disabled {
    display: block;
    color:#E5E5E5;
    border: 1px solid #E5E5E5;
    background: #fff;
    width: 100%;
    height: 51px;
    padding: 0;
    border-radius: 2%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    pointer-events: none;
}


@media (max-width:550px) {
    .popup__save_disabled {
        height: 46px;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }
}