.popup__save {
    display: block;
    border: 0;
    color: #fff;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 51px;
    padding: 0;
    border-radius: 2%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.popup__save:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width:550px) {
    .popup__save {
        height: 46px;
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}