.popup__title {
    max-width: 330px;
    margin: 0 0 44px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media (max-width:550px) {
    .popup__title {
        margin-bottom: 74px;
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
    }
}