.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
    padding: 0 0 13px;
    width: 100%;
    border: none;
    border-radius: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    outline: none;
}

.popup__text:first-child {
    margin-top: 0;
}

.popup__text:hover {
    border-bottom-color: #000;
}
  
.popup__text:focus {
    border-bottom-color: #007DFF;
}

.popup__text:valid {
    border-bottom: 1px solid green;
}
  
.popup__text:invalid {
    border-bottom: 1px solid red;
}

@media (max-width:550px) {
    .popup__text {
        margin: 0 auto 21px;
    }
    .popup__text:last-of-type {
        margin-bottom: 45px;
    }
}